.star-rating_1 {
    display: flex;
    flex-direction: row-reverse;
    font-size: 2.25rem;
    line-height: 1.8rem;
    justify-content: space-around;
    padding: 0 0.2em;
    text-align: center;
    width: 5em;
}

.star-rating_2 {
    display: flex;
    flex-direction: row-reverse;
    font-size: 2.25rem;
    line-height: 1.8rem;
    justify-content: space-around;
    padding: 0 0.2em;
    text-align: center;
    width: 5em;
}

.star-rating_3 {
    display: flex;
    /*flex-direction: row-reverse;*/
    /*justify-content: flex-end;*/
    font-size: 1.6rem;
    line-height: 1rem;
    padding: 0 0.2em;
    width: 13em;
    justify-content: flex-end
}


.star-rating_1 input {
    display: none;
}

.star-rating_2 input {
    display: none;
}

.star-rating_3 input {
    display: none;
}

.star-rating_1 label {
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #2b2a29;
    cursor: pointer;
    /*background-color: #0c63e4;*/
}

.star-rating_2 label {
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #2b2a29;
    cursor: pointer;
}

.star-rating_3 label {
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: red;
    cursor: pointer;
    -webkit-text-fill-color: red;
    margin-right: 3%;
}

.star-rating_1 :checked ~ label {
    -webkit-text-fill-color: gold;
}

.star-rating_2 :checked ~ label {
    -webkit-text-fill-color: gold;
}

.star-rating_1 label:hover,
.star-rating_1 label:hover ~ label {
    -webkit-text-fill-color: #fff58c;
}


.star-rating_2 label:hover,
.star-rating_2 label:hover ~ label {
    -webkit-text-fill-color: #fff58c;
}

